@font-face {
    font-family: "csrocky";
    src: url("../fonts/Other/CsRocky-MVe9v.otf");
    font-size: 1em;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Other/Montserrat-VariableFont_wght.ttf");
    font-size: 1em;;
}


body{
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    font-family: "csrocky",'Times New Roman';
    width: 100%;
    margin:1px;
    }
#bannerbar{
    display: flex;
    flex-direction: column;
    width:100%;
    height: fit-content;
    position: fixed;
    z-index: 999;
}
header{
    text-align: center;
    align-items: center;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height:20px;
    background: dimgray;
    border-style: solid;
    border-width: thin;
    width: 100%;
    z-index: 999
}

nav{
border-style: groove;
border-width: thick;
background-color: lightgray;
position: fixed;
top: 20px;
left: 0px;
right: 0px;
height:fit-content;
z-index: 999
}
#navlist{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    font-size: 0.6em;
    list-style-position:inside;
    width: 100%;
    position: relative;
    left: 0px;
    /*height: 100%;*/
}

.listitem{ 
    justify-content: center; 
    text-align: center;
    align-items: center;
    font-style: italic;
    width: 20%;
    height: 100%;
}
#inbetweener{
    width: 15%;
    border-right: thick;
    border-color: black;
}
#postbanner{
    position: relative;
    top:150px;
}
img{
    margin-left: 5px;
    border-style: groove;
    border-width: thin;
    border-color: white;
    animation: skew 3s;
}
@keyframes skew {
    0% {
      transform: skewX(20deg);
    }
    100% {
      transform: skewX(-20deg);
    }
  }

  #agecage{
    background-color: black;
    width : 20px;
    height : 20px;
    transition: width 100s;
    transition-timing-function: ease;
  }
  