@font-face {
    font-family: "csrocky";
    src: url("../fonts/Other/CsRocky-MVe9v.otf");
    font-size: 1em;
}
@counter-style{
    fallback: 
}
header{
    text-align: center;
    align-items: center;
    margin: 0;
    padding-bottom: 10;
    background: dimgray;
    border-style: solid;
    border-width: thin;
}
body {
background-color: darksalmon;
display: flex;
flex-direction: column;
font-family: "csrocky",'Times New Roman';
}

nav{
border-style: groove;
border-width: thin;
background-color: lightgray;
}
#navlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    font-size: 0.6em;
    list-style-position:inside;
    height: 100%
}
.listitem{
    border-style: solid;
    border-left: thick;
    border-right: thick;
    height: 100%;
    width: 25%;
    justify-content: center; 
    text-align: center;
    align-items: center ;
    font-style: italic;
}

