@font-face {
    font-family: "csrocky";
    src: url("../fonts/Other/CsRocky-MVe9v.otf");
    font-size: 1em;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Other/Montserrat-VariableFont_wght.ttf");
    font-size: 1em;;
}
@counter-style{
    fallback: 
}


body{
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    font-family: "csrocky",'Times New Roman';
    width: 100%;
    margin:0;
    }
#bannerbar{
    display: flex;
    flex-direction: column;
    width:100%;
    height: fit-content;
    position: fixed;
    z-index: 999;
}
header{
    text-align: center;
    align-items: center;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height:20px;
    background: dimgray;
    border-style: solid;
    border-width: thin;
    width: 100%;
    z-index: 999
}

nav{
border-style: groove;
border-width: thick;
background-color: lightgray;
position: fixed;
top: 20px;
left: 0px;
right: 0px;
height:fit-content;
z-index: 999
}
#navlist{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    font-size: 0.6em;
    list-style-position:inside;
    width: 100%;
    position: relative;
    left: 0px;
    /*height: 100%;*/
}

.listitem{ 
    justify-content: center; 
    text-align: center;
    align-items: center;
    font-style: italic;
    width: 20%;
    height: 100%;
}
#inbetweener{
    width: 15%;
    border-right: thick;
    border-color: black;
}

#belowbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:fit-content;
    background-color: antiquewhite;
    border-style: solid;
    border-width: medium;
    border-color: black;
    padding: 0px;
    z-index: 990;
}
.belowbarimage{
    float: right;
    width: 50%;
   height: fit-content;
   margin-bottom: 0px; 
}
picture>img{
    border-right-width: medium;
    border-style: solid;
    border-color: black;
    margin-bottom: 0px;
}
.belowbarpar{
    float: left;
    width: 50%;
    height: fit-content;
    text-align:center;
      

}
p{
    font-family: 'Montserrat','Monospace';
    font-size: 2rem;
    text-align: center;
    text-justify: auto;
    position: relative;
    top: 22%; 
}

main{
    font-family: 'Montserrat','Monospace';
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 25%;
}