@font-face {
    font-family: "csrocky";
    src: url("../fonts/Other/CsRocky-MVe9v.otf");
    font-size: 1em;
}
body {
background-color: darksalmon;
display: flex;
flex-direction: column;
font-family: "csrocky";
}

nav{
display: flex;
flex-direction: column;
border-style: groove;
border-width: thin;
}

