@font-face {
    font-family: "csrocky";
    src: url("../fonts/Other/CsRocky-MVe9v.otf");
    font-size: 1em;
}
@counter-style{
    fallback: 
}
body {
background-color: darksalmon;
display: flex;
flex-direction: column;
font-family: "csrocky",'Times New Roman';
}

nav{
border-style: groove;
border-width: thin;
}
#navlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    font-size: 0.6em;
}
nav > li {
    border-style: solid;
    border-width: thin;
    justify-content: center; 
    align-items: center ;
    font-style: italic;
}

