@font-face {
    font-family: "csrocky";
    src: url("../fonts/Other/CsRocky-MVe9v.otf");
    font-size: 1em;
}
@counter-style{
    fallback: 
}
header{
    text-align: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    padding-bottom: 10;
    background: dimgray;
    border-style: solid;
    border-width: thin;
    width: 100%;
}
body{
background-color: darksalmon;
display: flex;
flex-direction: column;
font-family: "csrocky",'Times New Roman';
width: 100%;
}

nav{
border-style: groove;
border-width: thick;
background-color: lightgray;
position: relative;
display: block;
left: 0px;
top: 15px;

}
#navlist{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    font-size: 0.6em;
    list-style-position:inside;
    width: 100%;
    position: relative;
    left: 0px;
    /*height: 100%;*/
}
.listitem{ 
    justify-content: center; 
    text-align: center;
    align-items: center;
    font-style: italic;
    width: 20%;
    height: 100%;
}
#inbetweener{
    width: 15%;
    border-right: thick;
    border-color: black;
}

