@font-face {
    font-family: "csrocky";
    src: url("../fonts/Other/CsRocky-MVe9v.otf");
    font-size: 1em;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Other/Montserrat-VariableFont_wght.ttf");
    font-size: 1em;;
}


body{
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    font-family: "csrocky",'Times New Roman';
    width: 100%;
    margin:0;
    }
#bannerbar{
    display: flex;
    flex-direction: column;
    width:100%;
    height: fit-content;
    position: fixed;
    z-index: 999;
}
header{
    text-align: center;
    align-items: center;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height:20px;
    background: dimgray;
    border-style: solid;
    border-width: thin;
    width: 100%;
    z-index: 999
}

nav{
border-style: groove;
border-width: thick;
background-color: lightgray;
position: fixed;
top: 20px;
left: 0px;
right: 0px;
height:fit-content;
z-index: 999
}
#navlist{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    font-size: 0.6em;
    list-style-position:inside;
    width: 100%;
    position: relative;
    left: 0px;
    /*height: 100%;*/
}

.listitem{ 
    justify-content: center; 
    text-align: center;
    align-items: center;
    font-style: italic;
    width: 20%;
    height: 100%;
}
#inbetweener{
    width: 15%;
    border-right: thick;
    border-color: black;
}
#roosevelttings{
    width: 100%;
    height: fit-content;
    background-color: black;
    position: relative;
    top: -22px;
    text-align: center;
    align-items: center;
    font-family: 'Montserrat','Monospace';
    font-size: 1.7rem;
    color:antiquewhite;
    padding: 10px;
    overflow: hidden;
}
#rooseface{
    height: 100px;
    width: 100px;
    border-radius: 30%;
    border-color: silver;
    border-style: ridge;
}
#roosevelt{
    text-shadow: 2px 2px 4px whitesmoke;
    text-decoration: wavy;
    animation-duration: 3s;
    animation-name: slidein;

}
.grow { 
    transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
transform: scale(1.1); 
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }